# ============================================
# Server
# ============================================
PORT=9000
NODE_ENV=development

# ============================================
# PostgreSQL
# ============================================
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_database_password
POSTGRES_DB=info_venezuela_db

DATABASE_URL=postgresql://postgres:your_database_password@localhost:5432/info_venezuela_db

# ============================================
# Frontend
# ============================================
FRONTEND_URL=http://localhost:3000

# ============================================
# JWT
# ============================================
JWT_SECRET=your_super_secure_jwt_secret_at_least_64_characters_long
JWT_EXPIRES_IN=1d

# ============================================
# REFRESH TOKEN 
# ============================================
REFRESH_TOKEN_SECRET=your_super_secure_jwt_secret_at_least_64_characters_long
REFRESH_TOKEN_EXPIRES_IN=1d

# ============================================
# Rate Limiting
# ============================================
THROTTLE_TTL=60000
THROTTLE_LIMIT=100